body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

.input-group .position-absolute {
    z-index: 5;
}

#marketing .courses__pagination .page-item.active .page-link, #browse-courses .courses__pagination .page-item.active .page-link {
    color: $clr-white;
    background-color: $clr-primary;
    border-color: $clr-primary;
}

.container-fluid-padding {
    @include for-large-devices {
        padding-left: 4em !important;
        padding-right: 4em !important;
    }
}