.input-group .position-absolute {
    z-index: 5;
}

a {
    text-decoration: none;
}

#marketing .courses__pagination .page-item.active .page-link {
    color: $clr-white;
    background-color: $clr-primary;
    border-color: $clr-primary;
}