#profile {
    .profile {
        &__background {
            background: url('assets/img/profile/background.png');
            background-position: center center;
            height: 10em;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__part {
            margin-bottom: 3em;
            padding-bottom: 2em;
        }

        &__basics {
            margin-top: -6.5em;

            &-left {
                gap: 2em;

                &--img {
                    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
                    border-radius: 50%;
                }

                &--content {
                    .content {
                        &__name {
                            font-weight: $fw-metropolis-bold;
                            font-size: 1.5rem;
                        }

                        &__email {
                            font-size: 0.9rem;
                            color: $clr-footer-link;
                        }
                    }
                }
            }

            &-right {
                &--link {
                    gap: 0.5em;
                }
            }
        }

        &__details {
            max-width: 100%;

            @include for-medium-devices {
                max-width: 50%;
            }

            &-email {
                .email {
                    &-label {

                    }

                    &-icon {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 10;
                        padding-left: 0.8em;
                        color: $clr-primary-dark;
                    }

                    &-input {
                        padding-left: 2.8em;
                    }
                }
            }
        }

        &__form {
            .form {
                &__section-heading {
                    font-weight: $fw-metropolis-medium;
                    font-size: 0.75rem;
                    margin-bottom: 1em;
                }
            }

            .image-upload {
                &-sample {
                    width: 6em;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-action {
                    .form-upload {
                        &-icon {
                            background: rgba($clr-primary, 0.2);
                            border-radius: 50%;
                            font-size: 1.2rem;
                            padding: 0.8em;
                        }

                        &-text {
                            color: $clr-footer-link;
                            margin-bottom: 0;
                            margin-top: 1.5em;
                            &--highlight {
                                font-weight: $fw-metropolis-semi-bold;
                            }
                        }

                        &-subtext {
                            color: $clr-footer-link;
                        }
                    }
                }
            }
        }
    }

    .form-group {
        .form-control {
            border: 0.5px solid rgba($clr-filler, 0.2);
            background-color: $clr-white;
            border-radius: 5px;
            height: 3em;

            &:disabled {
                background-color: $clr-gray;
                cursor: not-allowed;
            }
        }

        input[type="file"] {
            visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .editing {
        .profile {
            &__basics {
                &-right {
                    &--links {
                        gap: 1em;
                    }
                }
            }
        }
    }
}