// font families
$ff-metropolis: 'Metropolis';
$ff-gilroy: 'Gilroy';

// font weights

// metropolis
$fw-metropolis-extralight: 200;
$fw-metropolis-light: 300;
$fw-metropolis-regular: 400;
$fw-metropolis-medium: 500;
$fw-metropolis-semi-bold: 600;
$fw-metropolis-bold: 700;
$fw-metropolis-extrabold: 800;
$fw-metropolis-black: 900;

// gilroy
$fw-gilroy-thin: 100;
$fw-gilroy-ultralight: 200;
$fw-gilroy-light: 300;
$fw-filroy-medium: 500;
$fw-gilroy-semibold: 600;
$fw-gilroy-bold: 700;
$fw-gilroy-extrabold: 800;
$fw-gilroy-black: 900;

// colors
$clr-primary: #81D0D3;
$clr-secondary: #FDBA2F;
$clr-filler: #202020;
$clr-gray: #F3F3F3;
$clr-white: #ffffff;
