// Custom.scss
@import "./variables";
@import './mixins';
@import "./globals";
@import "./header";
@import "./marketing";
@import './login-signup';
@import './footer';
@import './browse-courses';
@import "./enroll";
@import './application';
@import './dashboard';
@import './profile';
@import './submission';

// boostrap variables overriders
$font-family-sans-serif: $ff-metropolis;
$font-family-monospace: $ff-gilroy;
$font-family-base: $font-family-sans-serif;

$theme-colors: (
  "primary": $clr-primary,
  "secondary": $clr-secondary,
  "filler": $clr-filler,
);

// bootstrap default file
@import "../../node_modules/bootstrap/scss/bootstrap";
